@font-face {
	font-family: "Source Serif Pro";
	font-style: normal;
	font-weight: 200 900;
	font-display: fallback;
	src: local("Source Serif Pro"), url('../fonts/SourceSerif4Variable-Roman.ttf.woff2') format('woff2');
	font-stretch: normal;
}

@font-face {
	font-family: "Source Serif Pro";
	font-style: italic;
	font-weight: 200 900;
	font-display: fallback;
	src: local("Source Serif Pro"), url('../fonts/SourceSerif4Variable-Italic.ttf.woff2') format('woff2');
	font-stretch: normal;
}

*:not(i) {
	font-weight: 500;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none;
	outline: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

strong{
	font-weight: bold;
}
strong *{
	font-weight: inherit;
}

#modal form .uk-margin{
	display: flex;
	grid-gap: 20px;
}
#modal form .uk-inline{
	width: 100%;
}
#modal form .uk-button{
	width: calc(50% - 10px);
}
#modal form .uk-input{
	font-size: 1rem;
	line-height: 1rem;
	font-weight: 500;
}
#modal form .jodit-container{
	min-width: 100% !important;
}
.midle{
	max-width: 1080px;
	margin: 0 auto;
}
.reacoes{
	display: grid !important;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
.reacoes .reacao{
	width: 100% !important;
}
.comocomprar{
	display: flex;
	justify-content: center;
}
.tablist a{
	min-width: 100%;
	display: block;
	padding: 10px 10px 10px 30px;
}
.tablist span{
	left: 7px;
	position: absolute;
	top: 5px;
}
.tablist .elementor-tab-title{
	padding: 0 !important;
	display: flex;
	align-items: center;
	position: relative;
}
.whats{
	display: flex;
	justify-content: center;
}
.material-symbols-rounded{
	font-size: 1.6rem !important;
}
#duvidas .elementor-toggle-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
}
#duvidas .elementor-toggle-icon i{
	line-height: 2.3rem;
	font-size: 1.2rem;
	transform: rotate(90deg)
}